<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fox Kids: Rule</title>
</head>
<body>
	<form action="/" method="post">
		<input type="text" id="filename" name="filename" placeholder="Filename here...">
		<button onclick="reload()">Submit/Refresh</button>
	</form>
	<div id="markdownText">	
	</div>
	<script>
		function reload() {
			const response = fetch("/", {
				method: "POST",
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify({filename: document.getElementById("filename").innerHTML})});
			var mdtext = document.getElementById("markdownText");
			if (response.ok) {
				const text = response.json().text;
				mdtext.innerHTML = text
			} else {
				mdtext.innerHTML = "Error fetching file"
			}
		};
	</script>	

</body>
</html>
